.root {
  position: absolute;
  top: 0px;
  left: 0px;
  color: var(--primary-background-color);
  background-color: var(--cursor-color);
  height: var(--line-height);
  width: 1px;
  line-height: var(--line-height);
  cursor: default;
  user-select: none;
}

.block {
  width: var(--char-width);
}

.pulsate {
  animation: pulsate 1.2s ease-in-out infinite;
}

@keyframes pulsate {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
