.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--title-bar-height);
  color: var(--primary-color);
  background-color: var(--secondary-background-color);
  user-select: none;
  -webkit-app-region: drag;
}
