.root {
  display: flex;
  height: 100%;
  flex-direction: row;
  cursor: default;
  user-select: none;
}

.numbers {
  padding: 0 5px;
  color: var(--secondary-color);
  background-color: var(--secondary-background-color);
  text-align: right;
  z-index: 1;
}

.numbers.hidden {
  display: none;
}

.text {
  flex: 1;
  position: relative;
  text-align: left;
  white-space: pre;
}

/* Ensure that empty lines also have a height */
.numbers div,
.text div {
  height: var(--line-height);
}
