.root {
  display: flex;
  height: 100vh;
  flex-direction: row;
  cursor: default;
  user-select: none;
  overflow: hidden;
}

.root.overlay:not(.root:first-child) {
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.numbers {
  padding: 0 5px;
  color: var(--secondary-color);
  background-color: var(--secondary-background-color);
  text-align: right;
  z-index: 1;
}

.numbers.hidden {
  display: none;
}

.numbers.overlay {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.text {
  flex: 1;
  position: relative;
  text-align: left;
  white-space: pre;
}

/* Ensure that empty lines also have a height */
.numbers div,
.text div {
  height: var(--line-height);
}
